:root {
    --primary: #0f6b3f;
    --secondary: #f4c430;
    --dark: #073825;
    --light: #f5f9f7;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", Arial, sans-serif;
}

body {
    background: var(--light);
    color: #333;
    line-height: 1.6;
}

/* HERO SLIDER */
.hero {
    position: relative;
    height: 90vh;
    overflow: hidden;
}

.slide {
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    opacity: 0;
    transition: opacity 1.5s ease;
}

.slide.active {
    opacity: 1;
}

.hero-overlay {
    position: absolute;
    inset: 0;
    background: rgba(7,56,37,0.65);
}

.hero-content {
    position: relative;
    z-index: 2;
    color: white;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
}
.hero-content img{
    width: 40%;

}

.hero-content h1 {
    font-size: 3rem;
    animation: fadeDown 1.2s ease;
}

.hero-content p {
    margin-top: 10px;
    font-size: 1.2rem;
    max-width: 700px;
}

.social{
    display:inline-flex;
    justify-content: space-between;
    align-items: center;
    margin:20px 35px 50px ;
    font-size: 2rem;
    text-decoration: none;
    color:var(--light);
    border-radius: 50%;
    padding: 6px 3px;
    transition: .5s ease;
}

.social:hover{
  transform: translateY(-8px);
    box-shadow: 0 15px 30px var(--light);
}
/* NAV */
nav {
    background: white;
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 15px;
    position: sticky;
    top: 0;
    z-index: 100;
    box-shadow: 0 4px 10px rgba(0,0,0,0.08);
}

nav a {
    text-decoration: none;
    color: var(--primary);
    font-weight: 600;
    position: relative;
}

nav a::after {
    content: "";
    position: absolute;
    width: 0;
    height: 3px;
    left: 0;
    bottom: -5px;
    background: var(--primary);
    transition: 0.3s;
}

nav a:hover::after {
    width: 100%;
}

/* SECTIONS */
section {
    padding: 70px 20px;
    max-width: 1100px;
    min-height: 50vh;
    margin: auto;
    opacity: 0;
    transform: translateY(40px);
    transition: 1s ease;
}

section.show {
    opacity: 1;
    transform: translateY(0);
}

section h2 {
    text-align: center;
    color: var(--primary);
    margin-bottom: 30px;
    font-size: 2.2rem;
}
h3{
    color: var(--dark);
}
p{
    margin: auto; 
}
abbr{
    white-space: nowrap;
}
.readmore{
  color: #007bff;
  cursor: pointer;
  text-decoration: underline;
}
.more-text{
    display: none;
    color: #555;
}
/* CARDS */
.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 25px;
}

.card {
    background: white;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.08);
    transition: transform 0.3s, box-shadow 0.3s;
}
.cards2 .align{
    text-align: center;
    margin-top: 10px;
}

.card:hover {
    transform: translateY(-8px);
    box-shadow: 0 15px 30px rgba(0,0,0,0.15);
}
.cards2{
   margin: auto;
}

.card h3 {
    color: var(--primary);
    margin-bottom: 10px;
}
.cardcontainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
 .cardcontainer .topcard{
    width: 48%;
}
.bottomcard{
    display: flex;
    justify-content: center;
    gap: 20px;
    width: 100%;
}
.bottomcard img{
    width: 48%;
}
/*about*/
.about-img{
    width: 70%;
    margin-top: 20px;
    border-radius: 50%;
    transition: .3s ease;
}
.about-img:hover{
   border: 2px solid var(--primary);
}
.about-img .img{
    border-radius: 50%;
    transition: .3s ease;
      border: 2px solid var(--dark);
}
.about-img .img:hover{
    border: 2px solid var(--primary);
}

/* Gallery */
.gallery {
    background: linear-gradient(135deg, #ffffff, #eef7f2);
    border-radius: 15px;
}
.card img{
    width: 100%;
}

/* CONTACT */
.contact-box {
    position: relative;
    max-width: 500px;
    margin: auto;
}

input, textarea {
    width: 100%;
    padding: 12px;
    margin-bottom: 12px;
    border-radius: 6px;
    border: 1px solid #ccc;
}

button {
    width: 100%;
    padding: 12px;
    background: var(--primary);
    color: white;
    border: none;
    border-radius: 30px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background: var(--dark);
}
.details{
    font-size: .8rem;
    position: absolute;
    background: white;
}
.details:first-child{
    top: -12px;
    left: 11px;
}
.details:nth-child(2){
    top: 20px;
}


/* FOOTER */
footer {
    background: var(--dark);
    color: white;
    text-align: center;
    padding: 20px;
}



/* ANIMATIONS */
@keyframes fadeDown {
    from {
        opacity: 0;
        transform: translateY(-30px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
